:root {
  font-size: 62.5%;
  background-color: beige;
  box-sizing: content-box;
}
.str {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  height: 5rem;
}
.enter {
  font-size: 3rem;
  padding-bottom: 2rem;
  color: black;
}
.main {
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input {
  height: 4rem;
  background-color: bisque;
  border-radius: 1rem;
  padding-left: 1rem;
  font-size: 2rem;
}
.header {
  margin-top: 0;
  margin-bottom: 0;
  color: teal;
  font-size: 6rem;
}
.del {
  background-color: steelblue;
  color: black;
  border-radius: 0.6rem;
  padding: 1.5rem;
  font-size: 3rem;
  max-width: fit-content;
}
.list_link {
  display: flex;
  list-style-type: none;
}
.list_input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  column-gap: 1rem;
}
.number {
  background-color: azure;
  color: cornflowerblue;
  border-color: cadetblue;
  padding: 1.5rem;
  font-size: 3rem;
  border-radius: 0.6rem;
  min-width: 10rem;
}
.signs {
  background-color: turquoise;
  color: saddlebrown;
  border-color: cornflowerblue;
  border-radius: 0.6rem;
  padding: 1.5rem;
  font-size: 3rem;
  min-width: 10rem;
}
.signs_equal {
  background-color: turquoise;
  color: saddlebrown;
  border-color: cornflowerblue;
  border-radius: 0.6rem;
  padding: 1.5rem;
  font-size: 3rem;
  min-width: 10rem;
  display: none;
}
.equal {
  font-size: 3rem;
  position: relative;
  bottom: 2.3rem;
}

.list_buttons {
  list-style-type: none;
  display: grid;
  row-gap: 1rem;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.res {
  background-color: bisque;
  border-radius: 1rem;
  border: 0.1rem solid black;
  padding: 1rem;
  position: relative;
  bottom: 2.3rem;
  font-size: 2.4rem;
  font-weight: 500;
}
.head_res {
  margin: 0;
  font-size: 3rem;
}
